<footer>
  <%= link_to root_path do %>
    <h1 class="logo">
      liFEsTlye &nbsp<i class="fas fa-circle fa-sm"></i>
    </h1>
  <% end %>
  <div class="copyright">
    <span>Privacy Policy | Terms & Conditions</span>&nbsp&nbsp<span>Copyright 2020. All rights reserved</span>
  </div>
  <div class="social">
    <span>Connect with us: </span>
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
    </span>
    <span class="fa-stack fa-lg">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
    </span>
  </div>
</footer>
